/* App.css */

body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #f0f8ff;
}

.App {
  text-align: center;
  padding: 20px;
}

header {
  background-color: #ffcccb;
  padding: 15px;
  color: #ff5733;
  font-size: 2em;
  border-bottom: 5px solid #ff6666;
}

main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blockly-container {
  height: 480px;
  width: 100%;
  max-width: 800px;
  border: 3px solid #ff6347;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px;
  flex-wrap: wrap; /* Permite que los botones se envuelvan */
}

button {
  background-color: #ff4500;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff6347;
}

button.secondary {
  background-color: #0b2c87;
}

button.secondary:hover {
  background-color: #3232a5;
}

@media (max-width: 768px) {
  .blockly-container {
    height: 400px;
    max-width: 100%;
  }

  header {
    font-size: 1.5em;
  }

  button {
    font-size: 1em;
    padding: 8px 16px;
  }

  .button-container {
    flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
    gap: 10px; /* Espacio entre los botones en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .blockly-container {
    height: 300px;
  }

  button {
    font-size: 0.9em;
    padding: 6px 12px;
  }
}